APP_ENV=dev
APP_SECRET=secret_waarde
APP_SHARE_DIR=var/share
DEFAULT_URI=http://localhost
DATABASE_URL="mysql://user:app@127.0.0.1:3306/currency_converter?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null
