{% extends 'base.html.twig' %}

{% block title %}New ExchangeRate{% endblock %}

{% block body %}
    <h1>Create new ExchangeRate</h1>

    {{ include('exchange_rate/_form.html.twig') }}

    <a href="{{ path('app_exchange_rate_index') }}">back to list</a>
{% endblock %}
